#rpc-mrk-wp .roof-paint-calculator {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
}

#rpc-mrk-wp .roof-paint-calculator h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FAB702
}

#rpc-mrk-wp .form-group {
    margin-bottom: 15px;
}

#rpc-mrk-wp v.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000 !important
}

#rpc-mrk-wp .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #FAB702;
    border-radius: 4px;
    color: #000 !important
}

#rpc-mrk-wp .rpc-submit {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#rpc-mrk-wp .rpc-submit:hover {
    background: #45a049;
}

#rpc-mrk-wp, #copywright {
    width: 50%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

#rpc-mrk-wp .rpc-copy-logo {
    margin: 0 auto;
    max-width: 30px;
    width: 30px;
    border-radius: 30px;
}

#rpc-mrk-wp .rpc-result {
    margin-top: 20px;
    padding: 15px;
    background: #e9f7ef;
    border-radius: 4px;
}

#rpc-mrk-wp .error {
    color: #d32f2f;
}